@mixin border-stroke($val){
    @if $val==light{
       border:1px solid black;
    }
    @else if $val==medium{
        border:3px solid black;
    }
    @else {
        border: none;
    }
}




#box{
    width:150px;
    height: 150px;
    background-color: blue;
    @include border-stroke(medium);
    text-align: center;
    border-radius: 20px;
    
}
body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    display: flex;
}
